.footer {
  padding-top: 80px;
  padding-bottom: 80px;
  background: #f5f5f5;
  position: relative;
}
.footer::before {
  content: "";
  width: 500px;
  height: 40px;
  background: #06badc;
  position: absolute;
  top: -20px;
}
.footer-conteudo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.footer-conteudo h4 {
  margin-bottom: 15px;
}
.footer-contato ul,
.footer-nav ul {
  display: grid;
  gap: 10px;
}
.footer-contato a,
.footer-nav a {
  color: #141414;
  transition: 0.2s;
}
.footer-contato a:hover,
.footer-nav a:hover {
  color: #06badc;
}
.footer-social ul {
  display: flex;
  gap: 20px;
}
.facebook,
.whatsapp,
.instagram,
.linkedin {
  display: block;
  width: 50px;
  height: 50px;
  transition: 0.2s;
}
.facebook {
  background: url(../assets/logos/facebook.svg) no-repeat;
  background-size: 50px;
}
.whatsapp {
  background: url(../assets/logos/whatsapp.svg) no-repeat;
  background-size: 50px;
}
.instagram {
  background: url(../assets/logos/instagram.svg) no-repeat;
  background-size: 50px;
}
.linkedin {
  background: url(../assets/logos/linkedin.svg) no-repeat;
  background-size: 50px;
}
.facebook:hover {
  background: url(../assets/logos/facebook-blue.svg) no-repeat;
  background-size: 50px;
}
.whatsapp:hover {
  background: url(../assets/logos/whatsapp-blue.svg) no-repeat;
  background-size: 50px;
}
.instagram:hover {
  background: url(../assets/logos/instagram-blue.svg) no-repeat;
  background-size: 50px;
}
.linkedin:hover {
  background: url(../assets/logos/linkedin-blue.svg) no-repeat;
  background-size: 50px;
}

.developer {
  background: #06badc;
}
.developer-content {
  padding: 10px 0;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}
.developer-content p {
  font-family: "Poppins";
  font-size: .8rem;
  font-style: italic;
  color: rgba(20, 20, 20,.5);
}
.developer-content img {
  max-width: 80px;
}
@media (max-width: 767px) {
  .footer-conteudo {
    grid-template-columns: 1fr;
  }
  .footer::before {
    width: 250px;
  }
  .developer-content{
  justify-content: center;

  }
}
