.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.intro-img img {
  border-radius: 11px;
  object-fit: cover;
  min-height: 476px;
}
.intro-texto h1,
.intro-texto p,
.intro-texto a {
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .intro {
    grid-template-columns: 1fr;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 40px;
  }
  .intro-img img {
    display: none;
  }
}
