html {
  scroll-behavior: smooth;
}
:target {
  scroll-margin-top: 40px;
}
* {
  padding: 0;
  margin: 0;
}
div {
  box-sizing: border-box;
}
.container {
  max-width: 1060px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
.container-large {
  max-width: 1400px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  display: inline-block;
}
li {
  list-style: none;
}
button {
  border: none;
  background: transparent;
}

.btn {
  padding: 15px;
  border-radius: 5px;
  transition: 0.2s background;
  cursor: pointer;
}
.btn:hover {
  background: #00829c;
}
